.dropdown {
  max-width: 120px;
  z-index: 9999;  
}

.dropdown ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  border-top:2px solid var(--bg-main);
  border-bottom: 2px solid transparent;
}

.dropdown:hover>ul {display: block;}

.dropdown ul li {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown ul li:hover {
  padding: 5px 10px;
  background-color: var(--hover);
  cursor: pointer;
}