.snackbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--danger);  
  padding: 10px 15px;
  text-align: center;
  z-index: 99999;
}

.snackbar pre {
  height: 100%;
  margin: 0;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.snackbar button {
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: none;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}