.switch {
  position: relative;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.switch input {
  display: none;
}

label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid var(--muted);
  border-radius: 20px;
  margin: 0;
}

.switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.switch-inner:before,
.switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color:var(--white);
  font-weight: bold;
  box-sizing: border-box;
}

.switch-inner:before {
  content: attr(data-yes);
  text-transform: uppercase;
  padding-left: 10px;
  background-color: var(--blue);
  color: var(--white);
}

.switch-inner:after {
  content: attr(data-no);
  text-transform: uppercase;
  padding-right: 10px;
  background-color: var(--muted);
  color: var(--white);
  text-align: right;
}

.switch-circle {
  display: block;
  width: 24px;
  margin: 5px;
  background: var(--white);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid var(--muted);
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.switch input:checked+label .switch-inner {
  margin-left: 0;
}

.switch input:checked+label .switch-circle {
  right: 0px;
}

.switch.small {
  width: 40px;
}

.switch.small .switch-inner:after,
.switch.small .switch-inner:before {
  content: "";
  height: 20px;
  line-height: 20px;
}

.switch.small .switch-circle {
  width: 16px;
  right: 20px;
  margin: 2px;
}