@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: 'Roboto Mono';
  padding: 1em;
}

.container {
  width: 100%;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-3 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;

  height: 450px;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .col-3 {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0;
  }
}