* {box-sizing: border-box;}

:root {
  --bg-main: #13263b;
    --border: #1a2f46;
  --white:#fff;
  --muted:#9e9e9e;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color:var(--white);
  font-family: Consolas, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root ,main{
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  overflow-x: hidden;
}

.split-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.gutter {background-color: var(--border);}

.container {background-color: var(--bg-main); }

.container header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #06192e;
}

.content {
  width: 100%;
  height: calc(100% - 40px) !important;
  overflow: auto;
}

form {width: 100%; height:100%; display:flex;}
form>* {flex: 1 1 33.33%; }
input {flex: 1 1 100%; }

input,button,select {background-color: inherit; color:inherit; border:0; outline: none;}
select, input { padding: 0 15px; border-right: 2px solid var(--border);}

select option {
  background-color: var(--bg-main);
  color:var(--white);
  cursor: pointer;
}

select,button {cursor: pointer; text-transform: uppercase; letter-spacing: 1px;}

ul {list-style: none; margin: 0; padding: 0;}

#ace-json-editor {    font-size: 16px !important;}
.ace-monokai,.ace-monokai .ace_gutter {
  background-color: var(--bg-main) !important;
}

.ace-monokai .ace_gutter-active-line,
.ace-monokai .ace_marker-layer .ace_active-line {background-color: var(--border) !important;}

.badge {
  color: var(--muted);
  font-size: 14px; padding: 10px 20px; 
  border-right: 2px solid var(--bg-main); text-transform: uppercase;
cursor: pointer;
letter-spacing: 1px;}

select:hover,button:hover,.badge:hover {
  background-color: rgba(255, 255, 255, 0.116);
  transition: background-color .25s;
}

.link:hover {opacity: .8; cursor: pointer;}

svg {margin-right: 5px}
/**************************************/
.vertical-align {display: flex; align-items: center; }

.bg-rose {    background-color: #E91E63}

.txt-yellow {color: rgb(223, 219, 0);}
.txt-white {color: var(--white) !important;}
.txt-muted {color: var(--muted) !important;}

.txt-uppercase {text-transform: uppercase;}

.w-100 {width: 100%;}
.h-100 {height: 100%;}

.p-15 {padding: 10px 15px; }
.p-0 {padding:0 !important; }

.border-bottom {border-bottom: 1px solid #1a2f46;}

/****************************/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: var(--bg-main);
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted);
}
