:root{
  --dark-blue: #15161b;
  --light-blue: #29282b;
  --sky-blue:#2196F3;
  --box-shadow: #0d0e10;
}

* {
  box-sizing: border-box !important;
  scrollbar-width: thin;
  scrollbar-color:#29282b #29282b;
}

body {margin: 0; background-color: var(--dark-blue); }

#root-jsonofy,#root-jsonofy>div {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-family: consolas;
  overflow: auto;
}

#root-jsonofy>div { position: absolute;}

.jsonofy-header,.modal {
  background-color: var(--dark-blue);
  box-shadow: 0 2px 6px 0 var(--box-shadow);
}

.jsonofy-header {
  width: 100%;
  padding: 7px 0;
  position: sticky;
  top: 0;
  display: flex; 
    border-bottom: 1px solid var(--light-blue);
    z-index: 9999;
}

.sidebar {border-left: 1px solid var(--light-blue); overflow: auto;}

ul {list-style: none; margin:0; padding:0; }

.sidebar li {padding: 10px 15px; margin: 0; 
  border-bottom: 1px solid var(--light-blue); cursor: pointer; word-break: break-all; }

.modal {
  max-width: 40%;
  max-height: 70%;
  display: flex;
  flex-direction: column;
    border: 1px solid var(--light-blue);
  position: absolute;
  top: 55px;
  right:25px;
  tab-size: 2;
  white-space: pre-wrap;
  word-break: break-all;
  overflow:auto;
}

.form-url {
  width: 50%;
  margin: 0;      
}

button {
    background: var(--sky-blue);
    color: #FFF;
    display:flex;
    align-items: center;
    font-family: Roboto;
    font-weight: 600;
    text-align: center; 
    cursor: pointer;    
    text-transform: uppercase;  
    letter-spacing: 1px;
}

button, input {
    border-radius: 4px;
    height: 35px;
    line-height: 35px;
    padding:0 15px;
    outline: none;
    border: 0px;
    margin: 0 5px;
    transition: opacity .15s cubic-bezier(.05,.03,.35,1);       
}

button:hover,.sidebar li h4:hover {opacity: .8;}

.btn-small {
  padding: 2px;
  height: auto;
}

input[type="url"] {width: 70%;}

hr {width:100%; border: 1px solid var(--light-blue); }

.h-100 {height:100%;}
.w-100 {width:100%;}
.w-25 {width: 25%; }
.w-75 {width: 75%; }

.ml-10 {margin-left: 10px;}
.p-10 {padding: 10px 20px; }

.d-flex-row {display: flex; align-items: center;}
.d-flex-col {display: flex; flex-direction: column; }

.justify-content-between {justify-content: space-between;}
.align-items {align-items: flex-start;}

.txt-uppercase {text-transform: uppercase; letter-spacing: 1px;}

.txt-number { color: #2196F3; }
.txt-string {color: #FFEB3B;}
.txt-muted {color: #8f8f8f;}

.bg-red { background: #e20000 !important;}
.bg-rose { background: #E91E63 !important;}
.bg-green {background-color: #4CAF50 !important;}
/**************************************/
.snackbar {
  visibility: hidden;
  margin: auto;
  background-color: #4CAF50;
  color: #fff; 
  text-align: center;
  font-size: 16px;
  border-radius: 5px; 
  padding: 10px 15px;
  position: fixed; 
  right: 25px;
  bottom: 20px; 
  z-index: 999;
  box-shadow: 0 2px 6px 0 var(--box-shadow);
  cursor: pointer;
}

.snackbar.show {
  visibility: visible; 
  -webkit-animation: ExpandFadeIn 0.5s;
  animation: ExpandFadeIn 0.5s;
}

/*****************************************/
.spinner-container {
  height: 100%;
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  bottom:0;
  z-index: 999999;
  background-color: #2727271f;
  display: flex;
  justify-content:center;
  align-items: center;
}
.spinner-border {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: Spinner .75s linear infinite;
  animation: Spinner .75s linear infinite;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

@keyframes Spinner {
  to {transform: rotate(360deg);}
}
/* keyframe: */
@-webkit-keyframes ExpandFadeIn {
  from { min-width: 0; bottom: 0; opacity: 0; } 
  to { min-width: 250px; bottom: 20px; opacity: 1; }
}

@keyframes ExpandFadeIn {
  from { min-width: 0; bottom: 0; opacity: 0; }
  to { min-width: 250px; bottom: 20px; opacity: 1; }
}

::-webkit-scrollbar {
  background: var(--dark-blue);
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sky-blue);
}